USE [master]
GO
/****** Nesnesi: Database [ToyStoreDb] Betik Tarihi: 19.07.2026 13:34:14 ******/
CREATE DATABASE [ToyStoreDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToyStoreDb', FILENAME = N'C:\Users\istek\ToyStoreDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToyStoreDb_log', FILENAME = N'C:\Users\istek\ToyStoreDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToyStoreDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToyStoreDb]
GO
/****** Nesnesi: Table [dbo].[__EFMigrationsHistory] Betik Tarihi: 19.07.2026 13:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Categories] Betik Tarihi: 19.07.2026 13:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedById] [int] NULL,
	[RowVersion] [timestamp] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Products] Betik Tarihi: 19.07.2026 13:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[CreatedById] [int] NULL,
	[RowVersion] [timestamp] NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[UserFavoriteCategories] Betik Tarihi: 19.07.2026 13:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoriteCategories](
	[UserId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_UserFavoriteCategories] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[UserFavoriteProducts] Betik Tarihi: 19.07.2026 13:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFavoriteProducts](
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_UserFavoriteProducts] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Users] Betik Tarihi: 19.07.2026 13:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[SecurityStamp] [nvarchar](max) NOT NULL,
	[UpdatedById] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260708073437_InitialCreate', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260708082051_AddDbConstraintsAndFixNames', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260708101446_ChangeIsDeletedToIsActive', N'8.0.28')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [CreatedById], [UpdatedById]) VALUES (1, N'Eğitici Oyuncaklar', CAST(N'2026-07-11T16:48:32.7890969' AS DateTime2), CAST(N'2026-07-15T15:38:38.6708986' AS DateTime2), 1, NULL, 1, 1)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [CreatedById], [UpdatedById]) VALUES (2, N'Peluşlar', CAST(N'2026-07-12T10:48:51.5804044' AS DateTime2), NULL, 1, NULL, 1, NULL)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [CreatedById], [UpdatedById]) VALUES (3, N'Kutu Oyunları', CAST(N'2026-07-13T12:12:21.0015048' AS DateTime2), CAST(N'2026-07-14T10:52:11.4004666' AS DateTime2), 1, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [CategoryId], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [CreatedById], [UpdatedById]) VALUES (1, N'Uzaktan Kumandalı Araba', CAST(500.00 AS Decimal(18, 2)), 30, 1, CAST(N'2026-07-12T11:27:32.4545839' AS DateTime2), CAST(N'2026-07-18T10:56:22.0056892' AS DateTime2), 1, NULL, 1, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [CategoryId], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [CreatedById], [UpdatedById]) VALUES (2, N'Oyuncak Ayı', CAST(200.00 AS Decimal(18, 2)), 20, 2, CAST(N'2026-07-13T07:57:06.2773781' AS DateTime2), CAST(N'2026-07-15T15:41:55.2340688' AS DateTime2), 1, NULL, 1, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [CategoryId], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [CreatedById], [UpdatedById]) VALUES (3, N'Beyaz Oyuncak Ayı', CAST(250.00 AS Decimal(18, 2)), 20, 2, CAST(N'2026-07-13T08:43:03.7747767' AS DateTime2), CAST(N'2026-07-13T11:04:39.3612492' AS DateTime2), 1, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[UserFavoriteCategories] ([UserId], [CategoryId]) VALUES (1, 1)
INSERT [dbo].[UserFavoriteCategories] ([UserId], [CategoryId]) VALUES (12, 1)
INSERT [dbo].[UserFavoriteCategories] ([UserId], [CategoryId]) VALUES (1, 2)
GO
INSERT [dbo].[UserFavoriteProducts] ([UserId], [ProductId]) VALUES (1, 1)
INSERT [dbo].[UserFavoriteProducts] ([UserId], [ProductId]) VALUES (12, 1)
INSERT [dbo].[UserFavoriteProducts] ([UserId], [ProductId]) VALUES (14, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [SecurityStamp], [UpdatedById]) VALUES (1, N'admin@localhost.com', N'$2a$11$H3ngPxkbh/ny4pFbqQS3.uR74NZexREjDnM8tUV5xFe/J4kviSRLa', N'Admin', CAST(N'2026-07-10T10:21:17.8314133' AS DateTime2), CAST(N'2026-07-10T10:24:28.8675788' AS DateTime2), 1, NULL, N'', NULL)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [SecurityStamp], [UpdatedById]) VALUES (2, N'user@localhost.com', N'$2a$11$X1Bh7JrORulsVRp.WaZA7.QzSwjY/qXnGfYLmQjExmu4Mnz1uGDUG', N'User', CAST(N'2026-07-12T15:51:42.9599344' AS DateTime2), CAST(N'2026-07-18T11:06:40.2842636' AS DateTime2), 1, NULL, N'6141ac4e-7b23-4eeb-948f-2d35f544634a', 1)
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [IsActive], [DeletedAt], [SecurityStamp], [UpdatedById]) VALUES (3, N'manager@localhost.com', N'$2a$11$7io5So5Kg5CymmqpgkMlWe6GlnJOw3Ajpd5R/2mmEGtxzD6lbxhfG', N'Manager', CAST(N'2026-07-13T11:07:58.4865476' AS DateTime2), CAST(N'2026-07-13T11:09:08.3882303' AS DateTime2), 1, NULL, N'023b0181-07d8-4630-a5ce-41ba2d073206', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Nesnesi: Index [IX_Categories_IsActive] Betik Tarihi: 19.07.2026 13:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_Categories_IsActive] ON [dbo].[Categories]
(
	[IsActive] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_Categories_Name] Betik Tarihi: 19.07.2026 13:34:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_Name] ON [dbo].[Categories]
(
	[Name] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_Products_CategoryId] Betik Tarihi: 19.07.2026 13:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_Products_IsActive] Betik Tarihi: 19.07.2026 13:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_Products_IsActive] ON [dbo].[Products]
(
	[IsActive] ASC
)
WHERE ([IsActive]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_UserFavoriteCategories_CategoryId] Betik Tarihi: 19.07.2026 13:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserFavoriteCategories_CategoryId] ON [dbo].[UserFavoriteCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Nesnesi: Index [IX_UserFavoriteProducts_ProductId] Betik Tarihi: 19.07.2026 13:34:15 ******/
CREATE NONCLUSTERED INDEX [IX_UserFavoriteProducts_ProductId] ON [dbo].[UserFavoriteProducts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [IX_Users_Email] Betik Tarihi: 19.07.2026 13:34:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [SecurityStamp]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[UserFavoriteCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFavoriteCategories] CHECK CONSTRAINT [FK_UserFavoriteCategories_Categories_CategoryId]
GO
ALTER TABLE [dbo].[UserFavoriteCategories]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteCategories_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFavoriteCategories] CHECK CONSTRAINT [FK_UserFavoriteCategories_Users_UserId]
GO
ALTER TABLE [dbo].[UserFavoriteProducts]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteProducts_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFavoriteProducts] CHECK CONSTRAINT [FK_UserFavoriteProducts_Products_ProductId]
GO
ALTER TABLE [dbo].[UserFavoriteProducts]  WITH CHECK ADD  CONSTRAINT [FK_UserFavoriteProducts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFavoriteProducts] CHECK CONSTRAINT [FK_UserFavoriteProducts_Users_UserId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Product_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Product_Price]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_Product_Stock] CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Product_Stock]
GO
USE [master]
GO
